
* {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
  }
  
  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
  
  p {
    text-wrap: pretty;
  }
  
  /* styles */
  /* TODO: Cambiar la fuente
  
  * {
    font-family: comic-sans;
  } */
  
  body {
    background-color: #fad7df;
  }
  
  main {
    display: flex;
    flex-direction: column;
  
    gap: 3rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-letter {
    position: relative;
  }
  
  .cover {
    position: absolute;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 100px solid #fe3334;
    border-bottom: 100px solid transparent;
  
    /*  */
    transition: transform .75s;
    transform-origin: top;
  }
  
  .paper {
    position: absolute;
    padding: 1.5rem;
    line-height: 2rem;
    right: 5px;
    /*  */
    z-index: -1;
    background: white;
    width: 390px;
    height: 180px;
  
    transition: all .75s;
  }
  
  .letter {
    border-left: 200px solid #ff989e;
    border-right: 200px solid #ff989e;
    border-top: 100px solid transparent;
    border-bottom: 100px solid #ff858a;
  }
  
  .options {
    display: flex;
    gap: 5rem;
  
    & button {
      color: #ff3234;
      font-weight: 600;
      border-radius: 3px;
      background: #fad7df;
      padding: 0.5rem 1rem;
      border: 1px solid #fe3334;
      cursor: pointer;
    }
  
    & button:hover {
      background: #ff989e;
      color: white;
    }
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -120px;
    }
  }
  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  
  
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }
  }

  /*rosa*/

.shine {
    width: 26px;
    height: 330px;
    background: white;
    opacity: 0.2;
    position: absolute;
    left: 85%;
    top: 200px;
    border-radius: 100px;
    z-index: 10;
}

.shine:before {
    content: "";
    width: 26px;
    height: 40px;
    position: absolute;
    background: white;
    top: 365px;
    border-radius: 100px;
}

.petals>div {
    position: absolute;
    background: #eeff01;
    width: 85px;
    height: 120px;
    top: 200px;
    transition: all 0.5s ease-out;
}

.petals>div:nth-child(1) {
    border-radius: 15px;
    box-shadow: 0px 0px 60px rgb(240, 245, 148);
    left: 268px;
    top: 200px;
    background: #bec92d;
}

.petals>div:nth-child(2),
.petals>div:nth-child(4),
.petals>div:nth-child(6) {
    background: #dee66d;
    left: 230px;
    border-radius: 0px 50px 0px 50px;
    transform-origin: bottom right;
}

.petals>div:nth-child(3),
.petals>div:nth-child(5),
.petals>div:nth-child(7) {
    background: #f8ff98;
    left: 300px;
    border-radius: 50px 0px 50px 0px;
    transform-origin: bottom left;
}

.petals>div:nth-child(2) {
    z-index: 5;
    background: #bec92d;
    top: 218px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 243, 148, 0.5);
    animation: bloom2 3s ease-in-out;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(3) {
    z-index: 4;
    background: #bec92d;
    top: 218px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 243, 148, 0.5);
    animation: bloom3 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(4) {
    z-index: 3;
    background: #bec92d;
    top: 213px;
    height: 135px;
    box-shadow: 0px 0px 60px rgba(245, 243, 148, 0.5);
    animation: bloom4 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(5) {
    z-index: 2;
    background: #bec92d;
    top: 213px;
    height: 135px;
    box-shadow: 0px 0px 60px rgba(242, 245, 148, 0.5);
    animation: bloom5 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(6) {
    z-index: 1;
    background: #bec92d;
    top: 200px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 243, 148, 0.5);
    animation: bloom6 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.petals>div:nth-child(7) {
    z-index: 0;
    background: #bec92d;
    top: 200px;
    height: 130px;
    box-shadow: 0px 0px 60px rgba(245, 243, 148, 0.5);
    animation: bloom7 3s ease-in-out, glowing 2.5s ease-in-out infinite;
    animation-fill-mode: forwards;
}

.deadPetals>div {
    position: absolute;
    background: #c8d322;
    width: 20px;
    height: 15px;
    top: 200px;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px 0px 30px rgba(245, 148, 184, .5);
    transition: all 0.5s ease-out;
}

.deadPetals>div:nth-child(1) {
    left: 119229959987px;
    transform: rotate(-30deg);
    animation: falling 20s 4s ease-in-out infinite;
}

.deadPetals>div:nth-child(2) {
    left: 26331084746px;
    transform: rotate(-30deg);
    animation: falling 20s 8s ease-in-out infinite;
}

.deadPetals>div:nth-child(3) {
    left: 129759500363px;
    transform: rotate(-30deg);
    animation: falling 20s 12s ease-in-out infinite;
}

.deadPetals>div:nth-child(4) {
    left: 99323149959px;
    transform: rotate(-30deg);
    animation: falling 20s 16s ease-in-out infinite;
}

.leaves>div:nth-last-child(1) {
    position: absolute;
    width: 55px;
    height: 30px;
    background: #338f37;
    top: 334px;
    left: 278px;
    border-radius: 100px;
}

.leaves>div:nth-child(1) {
    position: absolute;
    width: 15px;
    height: 390px;
    background: #054c05;
    top: 308px;
    left: 300px;
    border-radius: 0 0 100px 100px;
}

.leaves>div:nth-child(2) {
    position: absolute;
    width: 60px;
    height: 100px;
    top: 53px;
    border-radius: 10px 80px 40px 80px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(-30deg);
    top: 412px;
    left: 254px;
    box-shadow: inset 10px 10px #066406;
}

.leaves>div:nth-child(3) {
    position: absolute;
    width: 60px;
    height: 100px;
    top: 53px;
    border-radius: 80px 1px 80px 40px;
    background: #054c05;
    transform-origin: bottom;
    transform: rotate(30deg);
    top: 360px;
    left: 300px;
    box-shadow: inset -10px 10px #066406;
}

.thorns>div {
    position: absolute;
    width: 0;
    height: 0;
    top: 200px;
}

.thorns>div:nth-child(odd) {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #054c05;
    left: 315px;
}

.thorns>div:nth-child(even) {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #054c05;
    left: 285px;
}

.thorns>div:nth-child(1) {
    top: 465px;
}

.thorns>div:nth-child(2) {
    top: 390px;
}

.thorns>div:nth-child(4) {
    top: 525px;
}

@keyframes bloom2 {
    50% {
        transform: rotate(-90deg);
        top: 400px;
        left: 150px;
    }

    100% {
        transform: rotate(-60deg);
        top: 615px;
        left: 100px;
        background: #6f7112;
        box-shadow: 0px 0px 0px rgba(242, 245, 148, 0);
    }
}

@keyframes bloom3 {
    100% {
        transform: rotate(50deg);
    }
}

@keyframes bloom4 {
    100% {
        transform: rotate(-25deg);
    }
}

@keyframes bloom5 {
    100% {
        transform: rotate(25deg);
    }
}

@keyframes bloom6 {
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes bloom7 {
    100% {
        transform: rotate(10deg);
    }
}

@keyframes glowing {
    50% {
        background: #c8d322;
        box-shadow: 0px 0px 60px rgb(240, 245, 148);
    }
}

@keyframes falling {
    20% {
        top: 335px;
        background: #afbb04;
        box-shadow: 0px 0px 0px rgba(245, 245, 148, 0);
    }

    100% {
        top: 335px;
        opacity: 0;
    }
}

.texto {
    top: 50%;
    color: white;
    font-size: 35px;
    position: absolute;
    left: 10%;
}